section( id='about' class='container content-section text-justify' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2(class='text-center')=t('section.about.h2')
      div!=t('section.about.text')
