section( id='download' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2=t('section.download.h2')
      ul( class='list-inline banner-social-buttons' )
        li
          a( href='dist/krait.min.js' class='btn btn-default btn-lg' target='_blank' download='krait.min.js' title='Minified library only')=t('section.download.min')
        li
          a( href='zip/kraitjs.zip' class='btn btn-default btn-lg' target='_blank' download='kraitjs.zip' title='Package with documentation and examples')=t('section.download.zip') 
        li
          a( href='https://github.com/LCluber/Krait.js' class='btn btn-default btn-lg' target='_blank' title='Sources for the entire project')
            i( class='fa fa-github fa-fw' )
            =t('section.download.github')
