@import "variables";
@import "mixins";


/* Modify me for different cooldown speed! */
$cooldown_length:0.5s;
/* Modify me for a different cooldown color! */
$cooldown_clr: #00358d;
//$cooldown_clr2: darken($cooldown_clr,10%);
/* Modify me to be 'infinite' or a number! */
$cooldown_count: 1;
$border_radius: 4px;

@-webkit-keyframes anim-cooldown-inner {
  from {background:rgba(0,0,0,0.6);}
  //99%  {background:rgba(0,0,0,0.2);}
  to   {background:rgba(0,0,0,0);}
}

@-webkit-keyframes anim-cooldown {
  from {background-size:46px 0px;}
  to   {background-size:46px 46px;}
}

#hud{
  position:relative;
  left:50%;margin-left:-106px;
  border:1px solid #eee;
  border-radius:$border_radius;
  background:#eee;
  width:212px;height:62px;
  z-index:-2;
}
.icon{
  border:1px solid #222;
  width:40px;height:40px;background:#eee;
  float:left;margin-top:10px;margin-left:10px;
  position:relative;
  background: #ccc;
  background-size: 36px 36px;
  background-position:3px 3px;
  background-repeat:no-repeat;
  border-radius:$border_radius;
}
.icon:before{
  content:"";
  width:46px;height:46px;
  position:absolute;
  left:-4px;top:-4px;
  z-index:-1;
  background-color:#fff;
  border-radius:$border_radius;
}

.icon.full:before{background-image: -webkit-linear-gradient(bottom, $cooldown_clr 0%, $cooldown_clr 100%);}

.icon.cooldown:before{
  background-color:#fff;
  background-image: -webkit-linear-gradient(bottom, $cooldown_clr 0%, $cooldown_clr 100%);
  background-size:46px 46px;
  background-position:0px 100%;
  background-repeat:no-repeat;
}

// .icon.cooldown:after{
//   content:"";
//   width:40px;height:40px;
//   background:rgba(0,0,0,0);
//   position:absolute;
//   border-radius:$border_radius;
// }

.icon.animation:before{
  -webkit-animation: anim-cooldown $cooldown_length linear $cooldown_count;
}

// .icon.animation:after{
//   -webkit-animation: anim-cooldown-inner $cooldown_length ease-in $cooldown_count;
// }

// .icon.skill0{
//   
// }
// 
// .icon.skill1{
//   
// }
// 
// .icon.skill2{
//   
// }
// 
// .icon.skill3{
//   
// }
